<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>El anfitrion</h1>
    <form action="/saluda" method="POST">
        <label for="nombre">Nombre</label>
        <input name="nombre" id="nombre">
        <label for="idioma">Idioma</label>
        <select name="idioma" id="idoma"t>
            <option value="es">Español</option>
            <option value="en">English</option>
        </select>
        <input type="submit" value="Bienvenido"/>
    </form></body>
</html>